.center-block-wrapper{
 height: 500%;
}

ul.menu-links{
    font-weight: lighter;
}

.blacklayer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: block;
  pointer-events: none;
  background-color: rgba(41, 41, 41, 0.6);
  opacity: 0.5;
  transition: 0.8s;
}
.profile-wrapper{
    display: flex;
    flex-direction: row;
    /*background-color: red;*/
    justify-content: space-around;
    align-items: center;
    width: 75%;
    height: 100vh;
    margin: auto;
}

.profile-row-1, .profile-row-2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.profile-row-2{
 height: 70%;
}


.profile-row-2-ulli{
    border-top: 1px solid #bbc6ce;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30%;
}

.profile-row-2-number{
    font-size: 55px;
    color: #0380c2;
    font-weight: bolder;
    margin-right: 20px;
}

.profile-row-2-label{
    font-weight: lighter;
}

.circle-video{
    width: 200px;
    /*border: 1px solid black;*/
    height: 200px;
    border-radius: 50%;

}

.profile-block{
    background-color: #e8ebf1;
}

#circle-video-inner{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
   
}

.play-btn{
    width: 50px;
    height: 50px;
    background-color: lightgrey;
    color: blue;
    position: fixed;

    margin-top: -194px;
    z-index: 1;
    margin-left: 10px;
    border-radius: 27px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statistics-block{
    background-color: #89a7df;
    padding-top: 5%;
    color: white;
}

.diagram-img{
    width: 70%;
}



.geography-block{
    background-color: #e8ebf1;
}

.geography-wrapper{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 20%;
    margin-right: 10%;
    justify-content: space-around;
    height: 100vh;
    color: #42567a;

}

.geography-row-1{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
}
.geography-row-1 > div{
    /*flex: 1;*/
    margin-top: 10%;
}
.geography-h2{
    flex: 2;
}
.eksport-stat{
    flex: 3;
    font-weight: lighter;
    margin-right: 150px;
    margin-left: 180px;
}

.eksport-stat > ul{
    list-style: none;
}


.present-sales-color{
    background-color: #acc9ff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-flex;
    margin: 10px 20px -5px 0;
}

.future-sales-color{
    background-color: #608ad7;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-flex;
    margin: 10px 20px -5px 0;
}
.eksport-stat > p{
    margin-bottom: 15px;
    line-height: 1.5;
}
.geography-row-2{
    flex: 1;
    display: flex;
    /*text-align: center;*/
    /*justify-content: center;*/
}

.geography-row-2 > img{
    width: 80%;
}

.brands-block{
    background-color: white;
    
}

.brands-block-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    margin-left: 16%;
    margin-top: 14%;
}
.brands-wrapper{
    display: flex;
}

.brands-wrapper > .heading-wrapper{
    width: 45%;
    margin-left: 50px;

}

.brands-wrapper > .brands-desc{
    width: 30%;
}
.brands-desc > p{
    margin-bottom: 20px;
}

.brands-desc-btn{
    border-color: #42567a;
}
/*brands-slider*/
.brands-slider-container{
    width: 90%;
}

.slick span {
  display: block;
  /*background: #3498db;*/
  color: #fff;
  font-size: 36px;
  height: 300px;
  position: relative;
  text-align: center;
  /*//border: solid 1px rgb(145, 195, 0);*/
  
  transform: translate(0, 0) scale(.4);
  transition: all .4s ease;
  opacity: .5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slick-slide {
  /*border: solid 1px #2dc37f;*/
}

.slick-slide.lt2 span {
  transform: translate(10%, 0) scale(.6);
}
.slick-slide.lt1 span {
  opacity: .7;
  transform: translate(5%, 0) scale(.8);
}
.slick-slide.gt1 span {
  opacity: .7;
  transform: translate(-5%, 0) scale(.8);
}
.slick-slide.gt2 span {
  transform: translate(-10%, 0) scale(.6);
}
.slick-slide.slick-center span {
  z-index: 1;
  transform: scale(1);
  opacity: 1;
  color: rgb(66, 86, 122);
}

.slick-prev,
.slick-next{
  position: absolute;
  top: 50%;
  appearance: none;
  margin-top: -10px;
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
  color: transparent;
 

 outline: none;
  z-index: 100;
}

.slick-prev {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 15px 0;
  border-color: transparent rgb(66, 86, 122) transparent transparent;
  left: 32%;
top: 38%;
}
.slick-next {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 15px;
  border-color: transparent transparent transparent rgb(66, 86, 122);
  right: 32%;
top: 38%;
}
/*brands-slider-end*/

.history-block{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background-color: hotpink;
    color: white;
}
/*booklet*/
.products-block{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}
.products-wrapper{
    /*background-color: darkred;*/
    width: 70%;
    margin-left: 12%;
    display: grid;
    grid-template-columns: 300px 300px 300px;

}

.products-wrapper-item{
    border: 5px solid white;
    margin: 20px;
    padding: 20px;
    height: 200px;
    cursor: pointer;
    transition: linear 0.5s;
    text-align: center;
    font-size: 25px;
    display: flex;
    align-items: center;
}

.products-wrapper-item:hover{
    transition: linear 0.5s;

     border: 5px solid white;
     background-color: white;
     color: lightblue;
}