body{
    color: #44577b;
    background-color: #e8ebf1;
}
.center-block-wrapper{
    background-color: #e8ebf1;
}
.brands-page{
    background-color: #e8ebf1;
    color: #44577b;
}

li.menu-link {
  color: #44577b;
}

.menu-link-span{
background-color:#44577b;;
}

ul.lang > li:hover {
    border-color: #44577b;
}
.line{
    background-color: #44577b;
}

.burger-navbar{
    background: rgb(236, 237, 238) none repeat scroll 0% 0%;
}

.absolute-border{
    border-color: rgba(66, 86, 122, 0.07);
}

.brands-bg{
    margin-left: 5%;
    border: 20px solid white;
    background-color: white;
    border-radius: 50px;
    padding-left: 10px;
    padding-top: 10px;
}
.brands-label{
    position: absolute;
    /*top: 40vh;*/
    left: 26%;
    z-index: 2;
    color: white;
    font-size: 90px;
}
.brands-main{
    background-color: #e8ebf1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.brands-main-wrapper{
    background-color: #e8ebf1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-brands-block{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8ebf1;
}
.all-brands-wrapper{
    /*background-color: darkred;*/
    width: 70%;
    margin-left: 12%;
    display: grid;
    grid-template-columns: 300px 300px 300px;

}

.all-brands-wrapper-item{
    /*border: 5px solid white;*/
    margin: 20px;
    padding: 20px;
    height: 90px;
    cursor: pointer;
    transition: linear 0.5s;
    text-align: center;
    font-size: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.all-brands-wrapper-item:hover{
    transition: linear 0.5s;

     border: 5px solid white;
     background-color: white;
     color: lightblue;
}
.all-brands-wrapper-item img{
    width: 150px;
}

.brands-modal{
    height: 100%;
position: fixed;
top: 0;
width: 100%;
background: white;
display: flex;
flex-direction: column;
z-index: 4;
transform: translateY(-100%);
transition: transform 1s ease-out;
}

.brands-modal.show{
 transform: translateY(0);
}

.modal-brands-wrapper{
    /*background-color: darkred;*/
    width: 70%;
    margin-left: 12%;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 50px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    grid-row-gap: 5%;
    column-gap: 10%;

}

.modal-brands-wrapper-item{
    /*border: 5px solid white;*/
    margin: 20px;
    padding: 20px;
    /*height: 90px;*/
    cursor: pointer;
    transition: linear 0.5s;
    text-align: left;
    font-size: 25px;
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: space-between;
    /*padding-bottom: 40px;*/
}

.modal-brands-wrapper-item img{
    width: 150px;
    margin-bottom: 20px;
}
.modal-brands-wrapper-item  h5{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;

}
.modal-brands-wrapper-item  p{
   font-size: 14px;
}
.close-brands-modal{
    display: none;
    width: 40px;
height: 4px;
margin: 5px;
background-color: #42567a;
cursor: pointer;
margin-top: 40px;
}
.slick span p{
    opacity: 0;
}
.slick-slide.slick-center span p{
    opacity: 1;
}

.advantages-container{
    width: 70%;
    margin-left: 16%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.ad-row-1{
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 50px;
}
.ad-row-2{
    display: grid;
    grid-template-columns: 180px 180px 180px 180px;
    width: 90%;
    padding-left: 10%;
}
.ad-fac{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid lightgrey;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 30px;
}
.ad-fac span{
    font-size: 13px;
    font-weight: lighter;
    position: relative;
border: 1px solid lightgrey;
background-color: #e8ebf1;
height: 20px;
width: 20px;
border-radius: 50%;
margin-top: -25px;
margin-left: -110px;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}
.ad-fac p{
    font-size: 13px;
}

.ad-fac h4{
    font-family: 'Oswald', sans-serif;
}
@media only screen and (max-width: 1024px){
    .brands-label{
        top: 40vh;
        left: 37vw;
    }
}

@media only screen and (max-width: 992px){
    .brands-label{
        top: 40vh;
        left: 35%;
    }
}

@media only screen and (max-width: 768px){
    .advantages-container{
        width: 100%;
        margin-left: 0;
    }
    .ad-row-2{
        padding-left: 0;
        width: 96%;
    }
    .ad-row-1{
        grid-template-columns: 50% 50%;
    }
    .slick span img{
        width: 100px;
    }
    .slick p{
        font-size: 13px;
    }

.brands-label{
font-size: 40px;
top: auto;
left: 40%;
text-align: center;
display: flex;
align-items: center;
}
}
  @media only screen and (max-width: 430px){
    .heading-col h2{
        margin-bottom: 20px;
    }
    .advantages-container{
        padding: 20px;
        padding-top: 100px;
    }
    .ad-row-1{
        grid-template-columns: 100%;
        padding: 0;
        padding-bottom: 50px;

    }
    .ad-row-2{
        grid-template-columns: 100%;
    }
    .ad-fac{
        width: 100%;
height: 132px;
border-radius: 20px;
margin-bottom: 20px;
    }
.ad-fac span{
    margin-top: -14%;
margin-left: -116%;
}
.brands-label {
  font-size: 40px;
  top: auto;
  left: 34%;
}
@media only screen and (max-width: 412px){
    .brands-main-wrapper{
        height: 100%;
    }
    .brands-main{
padding: 0;
margin: 0;
/*overflow-y: hidden;*/
/*width: auto;*/
overflow-y: hidden;
padding-top: 0;
margin-bottom: 0;

}
    .slick-prev{
        left: 0%;
    }
    .slick-next{
        right: 0%;
    }

    .slick span{
        /*height: 500px;*/
    }
    .slick-slide {
/*border: solid 1px #2dc37f;*/
opacity: 0;
}
.slick-slide.slick-center{
    opacity: 1;
}

.brands-wrapper{
    flex-direction: column;
}
.brands-wrapper > .brands-desc{
    width: 100%;
}

.brands-wrapper > .heading-wrapper{
    width: 100%;
    margin-left: 0;
    margin-top: 50px;
}
.brands-block-container{
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

.slick span img{
    width: 250px;
}

.slick p {
  width: 250px;
  margin-top: 20px;
}

.modal-brands-wrapper{
    grid-template-columns: 100%;
    margin-left: 0;
    padding: 0;
    width: 100%;
    grid-row-gap: 0;
    margin-top: 60px;
}
.brands-label{
font-size: 40px;
top: auto;
left: 33%;
text-align: center;
display: flex;
align-items: center;
}

}

  @media only screen and (max-width: 320px){
.brands-label {
  font-size: 30px;

  }