  
@media only screen and (max-width: 768px){
    .additional-info{
        width: 100%;
margin-left: 0;
    }
    .sound-control {
  left: 0;
  top: 94vh;
  /*background: rebeccapurple;*/
  width: 100vw;
  bottom: 50%;
}
}

  @media only screen and (max-width: 412px){
.sound-control {
  left: 0;
  top: 94vh;
  /*background: rebeccapurple;*/
  width: 100vw;
  bottom: 50%;
}

}