
  @media only screen and (max-width: 1024px){
ul.lang {
  left: 25%;
}
.p-bottom{
width: 300px;
}
}

@media only screen and (max-width: 768px){
.p-bottom{
    bottom: 25%;
    width: 100%;
}
.sound-control{
    left: 40px;
}
.become-partner-wrapper{
    padding-top: 0;
}
.become-partner-wrapper{

grid-template-columns: 100%;
width: 100%;
padding: 20px;
margin: 0;
padding-top: 100px;
}

.become-partner-row-1{
    justify-content: space-around;
}
}

@media only screen and (max-width: 412px){
    .sound-control {
  left: 10px;
  top: 70%;
}

.become-partner-row-1 h2, .become-partner-row-1 h3{
margin-bottom: 30px;
}
}
