
div.news-wrapper{
margin-left: 7%;
width: 70%;
}

@media only screen and (max-width: 1024px){
    .all-brands-wrapper{
        grid-template-columns: 250px 250px 200px;
    }
.main-heading-wrapper{
    font-size: 30px;
}
.left-sidebar{
    width: 20%;
}
ul.lang{
    left: 21%;
}
.address-line-wrapper{
    margin-left: 22%;
}

.partners-heading {
  padding-top: 0%;
  display: flex;
  justify-content: center;

}
.sound-control{
    align-items: flex-start;
}

}/* max:1024*/

@media only screen and (max-width: 1440px) {
.news-block{
padding: 0;
margin: 0;
}

.center-block{
max-height: 100vh;
overflow-y: hidden;
padding-top: 0;
padding: 0;
scrollbar-width: none;
}

div.news-wrapper{
display: grid;
grid-template-columns: 45% 45%;
padding: 0;
gap: 6%;
margin-left: 7%;
width: 70%;
}

}

@media only screen and (max-width: 815px) {
    .main-heading-wrapper {
  font-size: 18px;
  justify-content: space-around;
}

.main-1-bottom-p {
  width: 280px;
  text-align: left;
  margin-left: 32px;
}
.left-sidebar {
  width: 24%;
}

}


@media only screen and (max-width: 768px) {
    .address-line-wrapper {
  margin-left: 0;
}
.bottom-btn-wrapper {
  display: flex;
  justify-content: start;
  align-items: end;
  padding-left: 10%;
}
.brands-main{
padding: 0;
margin: 0;
overflow-y: hidden;
}
.news-desc-img-w{
height: auto;
}
.sound-control{
position: absolute;
display: flex;
left: 0;
top: 70%;
width: 200px;
}
.sound-visual{
margin-lefy: 10px;
}
.main-1-bottom-text{
margin-bottom: 50px;
}

.menu-links{display: none;}
.left-sidebar{border: none; width: 10%;}
.middle-line{display: none;}
.menu-icon{display: none;}
.o-icon{display: none;}
.main-heading-wrapper{
font-size: 15px;
padding-top: 50%;
}

.right-sidebar{
width: 20%;
border: none;
z-index: 40;
height: auto;
}

.main-1-bottom-p{
opacity: 0;
}

ul.lang{
display: none;
opacity: 0;
}

.logo > a > img{
margin-left: 35%;
}

.camp-modal{
width: 100%;
}

.modal-content{
width: 80%;
}
/*.circle-text {
font-size: 13px;
position: relative;
top: 19%;
left: 49%;
width: 380px;
}*/

div.fourth > .burger, .mobile-burger{
justify-content: start;
margin-top: 40px;
}

.burger-navbar-block-3{display: none;}

.mobile-link{
display: block;
font-size: 15px;
}

ul.lang-mobile{
display: inline-flex;
opacity: 1;
left: 10%;
top: 10%;
}

ul.burger-menu-links {
left: 10%;
top: 15%;
font-size: 25px;
}

.mission-wrapper{
flex-direction: column;
width: 100%;
padding: 20px;
padding-top: 200px;

}

.mission-wrapper > .row-2{
margin-left: 0;
}
.mission-full-width-row{
/*display: none;*/
/*overflow: scroll;*/
width: 100%;
margin-left: 0;
padding: 0;
padding: 20px;
/*margin-bottom: 50px;*/
}
.mission-wrapper > .row{
margin-left: 0;
}

.mission-wrapper > .row > p{
padding-top: 0;
}




p{
font-size: 16px;
}



.footer{
width: 100%;
margin-left: 0;
height: 200px;
padding: 80px;
}



/*about page*/

.profile-wrapper{
flex-direction: column;
}

.brands-bg{
width: 80%;
margin-left: 0;
}



.brands-block.brands-page{
/*display: none;*/
}
.all-brands-wrapper{
width: 100%;
margin-left: 0;
grid-template-columns: 50% 50%;
/*padding-top: 200px;*/
}

/*partnerstvo*/

.p-bottom{
left: 0;
padding: 20px;
padding-left: 60px;
width: 500px

}

.become-partner-wrapper {
grid-template-columns: 100%;
width: 100%;
padding: 53px;
padding-top: 53px;
margin: 0;
/*padding-top: 140px;*/
}
.become-partner-row-2{
margin-left: 0;
}
.become-partner-row-1 h3{
margin-top: 0;
}

.contact-center-heading{
display: none;
}
.align-left{
margin-left: 0;
padding: 0;
text-align: center;
}




/*.address-line{
padding-top: 25px;
width: 90vw;
border-top: 1px solid #43577b57;
padding-bottom: 25px;
}


.address-line-wrapper{
padding-top: 50px;

}
.w-2{
padding-top: 100px;
}*/


.main-heading-wrapper.mobile-heading-wrapper{
padding-top: 0;
padding-left: 20px;
/*min-height: 30vh;*/
text-align: center;
align-items: center;
display: block;
}

.main-heading-wrapper.partners-heading{
    padding-top: 0;
}


.contacts-middle-block"{
padding: 20px;
}



.news_img{
width: 100%;
}
.plus-container{
/*width: 800px;*/
background-repeat: no-repeat;
background-size: cover;
background-position: center center; 
background-image: url(../img/map.jpg);
scrollbar-width: thin;
}

.activity-block{
overflow-x: scroll;
}

.center-block{
width: auto;
overflow-y: scroll;
padding-top: 0;
margin-bottom: 100px;
}

.become-partner-block{
padding-top: 100px;
}
.contacts-middle-block{
/*margin-left: -50px;*/
/*padding-top: 100px;*/
}



div.news-wrapper {
display: grid;
grid-template-columns: 45% 45%;
padding: 0;
gap: 6%;
margin-left: 6%;
margin-top: 100px;
width: 70%;
}
div#succesModal{
left: 0;
}

.activity-block{
margin: 0;
padding: 0;
overflow-y: hidden;
}
.about-block
{
padding: 0;
margin: 0;
overflow: hidden;
}
/*.circle-text {
font-size: 13px;
position: relative;
top: 19%;
left: 49%;
width: 105px;
}*/
/*max-width: 768px*/}


}/*//768-412*/
@media only screen and (max-width: 768px and min-width: 320px) {


.center-block{
width: auto;
overflow-y: scroll;
padding-top: 100px;
margin-bottom: 100px;
}
.feedback-wrapper{
/*width: 100%;*/
margin-left: 10px;
margin-right: 15px;
/*padding: 20px;*/
/*padding-top: 110px;*/
}
.additional-info{
margin-left: 20px;
display: block;
}
.feedback-wrapper{
margin-left: 49px;
}
.

.about-block
{
padding: 0;
margin: 0;
overflow: hidden;
height: 100vw;
}
.activity-block{
margin: 0;
padding: 0;
overflow-y: hidden;
}

}/*/media 768 and 360*/

@media only screen and (max-width: 460px) {

.additional-info{
width: 100%;
margin-left: 0;
}

.central-circle {
  width: 300px;
  height: 250px;
}

}
@media only screen and (max-width: 412px) {

    .sound-control{
position: absolute;
display: flex;
left: 15%;
/*top: 80%;*/
width: 200px;
}

.feedback-block{
padding-top: 100px;
padding-left: 20px;
}

 
div.news-wrapper {
padding-top: 100px;
/*margin-top: 50px;*/
display: grid;
grid-template-columns: 100%;
padding: 0;
gap: 6%;
margin-left: 1%;
width: 90%;
overflow-y: scroll;
scrollbar-width: none;
}
.footer {

width: 100%;
margin-left: 0;
height: 100px;
padding: 40px;
}

.p-bottom{
padding-left: 40px;
width: 100%;
}


.additional-info{
width: 100%;
left: 0;
}

.become-partner-wrapper{

grid-template-columns: 100%;
width: 100%;
padding: 20px;
margin: 0;
padding-top: 100px;
}

.brands-main{
padding: 0;
margin: 0;
overflow-y: hidden;
}

.center-block{
width: auto;
overflow-y: scroll;
/*padding-top: 100px;*/
margin-bottom: 100px;
}
.about-block
{
padding: 0;
margin: 0;
overflow: hidden;
}

.news-block{
/*padding-top: 350px;*/
overflow: hidden;
}
.sound-control{
left: 0;
top: 65%;
}
.logo{
margin-top: -20px;
margin-left: 30px;
}
/*    .news-block{
padding-top: 350px;
}*/
}

@media only screen and (max-width: 375px) {


.about-block
{
padding: 0;
margin: 0;
overflow: hidden;
}

.plus-container{
/*width: 800px;*/
background-repeat: no-repeat;
background-size: cover;
background-position: center center; 
background-image: url(../img/map.jpg);
scrollbar-width: thin;
}

.activity-block{
overflow-x: scroll;
}
.activity-block{
margin: 0;
padding: 0;
overflow-y: hidden;
}
.footer{
font-size: 13px;
}
.logo{
margin-top: -20px;
}

}/*max-width - 375*/

@media only screen and (max-width: 360px) {
.center-block {
width: auto;
overflow-y: scroll;
padding-top: 100px;
margin-bottom: 100px;
}
.about-block
{
padding: 0;
margin: 0;
overflow: hidden;
}
.news-block{
/*padding-top: 500px;*/
}

.footer{
font-size: 13px;
}
.plus-container{
/*width: 800px;*/
background-repeat: no-repeat;
background-size: cover;
background-position: center center; 
background-image: url(../img/map.jpg);
scrollbar-width: thin;
}

.activity-block{
overflow-x: scroll;
}
.activity-block{
margin: 0;
padding: 0;
overflow-y: hidden;
}
}/*media-360 end*/

@media only screen and (max-width: 320px) {
/*.center-block {
width: auto;
overflow-y: scroll;
padding-top: 100px;
margin-bottom: 100px;
}*/
.mission-wrapper{
    padding-top: 260px
}
 
.news-block {
  padding-top: 0;
}

.main-heading-wrapper {
  font-size: 13px;
}

.main-heading-wrapper.partners-heading{
    padding-top: 0;
}

}/*320*/

@media only screen and (max-width: 768px and min-width: 412px){
.sound-control{
left: 71%;
}

.news-block{
padding-top: 50px;
}
@media only screen and (max-width: 1440px) {
div.news-wrapper{
margin-left: 7%;
width: 70%;
}
}

@media (min-width: 1024px)  {

.statistics-block{
overflow-y: hidden;
}

}


